@font-face {
 font-family: 'Inter';
 src: url('../fonts/inter/InterVariable.woff2') format('woff2');
 font-weight: 100 900;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Inter';
 src: url('../fonts/inter/InterVariable-Italic.woff2') format('woff2');
 font-weight: 100 900;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: 'Inter';
 src: url('../fonts/inter/GoudyBookletter1911-Regular.woff2') format('woff2');
 font-weight: 100 900;
 font-style: italic;
 font-display: swap;
}

body, p {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  font-feature-settings:
    "calt" 1,
    "dlig" 1,
    "zero" 1,
    "ss01" 1,
    "ss03" 1,
    "ss07" 1,
    "ss08" 1,
    "cv01" 1,
    "cv02" 1,
    "cv03" 1,
    "cv04" 1,
    "cv09" 1;

  font-variation-settings:
    "opsz" 14;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Goudy Bookletter 1911', system-ui, -apple-system, BlinkMacSystemFont, 'Garamond', serif;
}
